/* 
    Created on : Dec 10, 2018, 8:01:04 PM
    Author     : Shahidul Islam
    Main Color : #f44336;
    W3C CSS Validator results: Congratulations! No Error Found.
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
/*font also downloaded in directory*/
html, body {
    /*font-family: "Rochester", sans-serif;*/
    /*font-family: Rochester;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: "open sans", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
     /*line-height: 1.4em;*/
    font-weight: 400;
}
html, body, .view {
    height: auto;
}
.view .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

*, *:focus, *:hover {
    outline: none !important;
}
.curoso-pointer:hover{
    cursor: pointer
}
/*Main colors*/ 
.main-color , .main-text, .text-primary{
    color: #f44336 !important;
}
.main-bg, .bg-primary{
    background-color: #f44336 !important
}

h3{ color: #25292d}
/*h5{ color: #6c757d}*/
h5{ color: #212529}
.bg-primary{ background-color: #f44336 !important; }

a:link:focus, a:link:focus *{
    color: #f44336 !important;
}
header a:link:focus, a:link:focus * {
    color: #ddd !important;
}
.visible-link{
    color: #f44336 !important;
}
.visible-link:hover{
    text-decoration: underline  !important;
}
.link:hover{
    color: #f44336 !important;
}

.text-error{
    color:#f44336 !important;
}
.bg-error{
    background-color: #f44336 !important;
}
.text-dark {
    color: #212121 !important;
}
/*..pagination active color*/
.pagination .page-item.active .page-link{
    background-color: #f44336;
}
::-moz-selection {
    background-color: #f44336;
    color: #fff;
}
::selection {
    background-color: #f44336;
    color: #fff;
}
.bg-tp{
    background: transparent !important;
}
.mw {
    /*min-width: 6.25em;*/
}

.mega-menu ul > li > a.nav-link:hover{
    color: #f44336 !important
}


/* MARGINS & PADDINGS */
.p-xxs {
    padding: 0.3125em; /*5px; */
}
.p-xs {
    padding: 0.625em; /*10px;*/ 
}
.p-sm {
    padding: 0.9375em; /*15px; */
}
.p-m {
    padding: 1.25em; /*20px; */
}
.p-md {
    padding: 1.5625em; /*25px; */
}
.p-lg {
    padding: 1.875em; /*30px;*/
}
.p-xl {
    padding: 2.5em; /*40px; */
}

/**
Paddings top bottom
**/
.p-h-xxs {
    padding: 0.3125em 0; /*5px 0; */
}
.p-h-xs {
    padding: 0.625em 0;
}
.p-h-sm {
    padding: 0.9375em 0;
}
.p-h-m {
    padding: 1.25em 0;
}
.p-h-md {
    padding: 1.5625em 0;
}
.p-h-lg {
    padding: 1.875em 0;
}
.p-h-xl {
    padding: 2.5em 0;
}
/**
Padding left right
**/
.p-w-xxs {
    padding: 0 0.3125em;
}
.p-w-xs {
    padding: 0 0.625em;
}
.p-w-sm {
    padding: 0 0.9375em;
}
.p-w-m {
    padding: 0 1.25em;
}
.p-w-md {
    padding: 0 1.5625em;
}
.p-w-lg {
    padding: 0 1.875em;
}
.p-w-xl {
    padding: 0 2.5em;
}


.p-l-none{
    padding-left:0;
}

.p-r-none{
    padding-right:0;
}

.p-t-xs{
    padding-top:0.3125em;
}
.p-t-sm{
    padding-top:0.625em;
}
.p-t{
    padding-top:0.9375em;
}
.p-t-md{
    padding-top:1.25em;
}

.m-xxs {
    margin: 0.125em 0.25em; /* 2px 4px; */
}
.m-xs {
    margin: 0.3125em; /*5px; */
}
.m-sm {
    margin: 0.625em; /*10px;*/
}
.m {
    margin: 0.9375em /*15px;*/
}
.m-md {
    margin: 1.25em; /*20px; */
}
.m-lg {
    margin: 1.875em; /*30px; */
}
.m-xl {
    margin: 3.125em; /* 50px; */
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 0.3125em;
}
.m-l-sm {
    margin-left: 0.625em;
}
.m-l {
    margin-left: 0.9375em;
}
.m-l-md {
    margin-left: 1.25em;
}
.m-l-lg {
    margin-left: 1.875em;
}
.m-l-xl {
    margin-left: 2.5em; /*40px;*/
}
.m-l-n-xxs {
    margin-left: -0.0625em;
}
.m-l-n-xs {
    margin-left: -0.3125em;
}
.m-l-n-sm {
    margin-left: -0.625em;
}
.m-l-n {
    margin-left: -0.9375em;
}
.m-l-n-md {
    margin-left: -1.25em;
}
.m-l-n-lg {
    margin-left: -1.875em;
}
.m-l-n-xl {
    margin-left: -2.5em; /* -40px; */
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 0.0625em;
}
.m-t-xs {
    margin-top: 0.3125em;
}
.m-t-sm {
    margin-top: 0.625em;
}
.m-t {
    margin-top: 0.9375em;
}
.m-t-md {
    margin-top: 1.25em;
}
.m-t-lg {
    margin-top: 1.875em;
}
.m-t-xl {
    margin-top: 2.5em; /*40px;*/
}
.m-t-n-xxs {
    margin-top: -0.0625em;
}
.m-t-n-xs {
    margin-top: -0.3125em;
}
.m-t-n-sm {
    margin-top: -0.625em;
}
.m-t-n {
    margin-top: -0.9375em;
}
.m-t-n-md {
    margin-top: -1.25em;
}
.m-t-n-lg {
    margin-top: -1.875em;
}
.m-t-n-xl {
    margin-top: -2.5em; /*-40px;*/
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 0.0625em;
}
.m-r-xs {
    margin-right: 0.3125em;
}
.m-r-sm {
    margin-right: 0.625em;
}
.m-r {
    margin-right: 0.9375em;
}
.m-r-md {
    margin-right: 1.25em;
}
.m-r-lg {
    margin-right: 1.875em;
}
.m-r-xl {
    margin-right: 2.5em; /*40px;*/
}
.m-r-n-xxs {
    margin-right: -0.0625em;
}
.m-r-n-xs {
    margin-right: -0.3125em;
}
.m-r-n-sm {
    margin-right: -0.625em;
}
.m-r-n {
    margin-right: -0.9375em;
}
.m-r-n-md {
    margin-right: -1.25em;
}
.m-r-n-lg {
    margin-right: -1.875em;
}
.m-r-n-xl {
    margin-right: -2.5em; /* -40px; */
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 0.0625em;
}
.m-b-xs {
    margin-bottom: 0.3125em;
}
.m-b-sm {
    margin-bottom: 0.625em;
}
.m-b {
    margin-bottom: 0.9375em;
}
.m-b-md {
    margin-bottom: 1.25em;
}

.m-b-lg {
    margin-bottom: 1.875em;
}
.m-b-xl {
    margin-bottom: 2.5em; /*40px;*/
}
.m-b-n-xxs {
    margin-bottom: -0.0625em;
}
.m-b-n-xs {
    margin-bottom: -0.3125em;
}
.m-b-n-sm {
    margin-bottom: -0.625em;
}
.m-b-n {
    margin-bottom: -0.9375em;
}
.m-b-n-md {
    margin-bottom: -1.25em;
}
.m-b-n-lg {
    margin-bottom: -1.875em;
}
.m-b-n-xl {
    margin-bottom: -2.5em; /* -40px;*/
}

.m-a-0{
    margin: auto 0;
}
.space-15 {
    margin: 0.9375em 0;
}
.space-20 {
    margin: 1.25em 0;
}
.space-25 {
    margin: 1.5625em 0;
}
.space-30 {
    margin: 1.875em 0;
}

/**
Width List
**/

.w-5{width:5%;}
.w-10{width:10%;}
.w-15{width:15%;}
.w-20{width:20%;}
.w-25{width:25%;}
.w-30{width:30%;}
.w-35{width:35%;}
.w-40{width:40%;}
.w-45{width:45%;}
.w-50{width:50%;}
.w-55{width:55%;}
.w-60{width:60%;}
.w-65{width:65%;}
.w-70{width:70%;}
.w-75{width:75%;}
.w-80{width:80%;}
.w-85{width:85%;}
.w-90{width:90%;}
.w-95{width:95%;}
.w-100{width:100%;}

/*start button area*/
.btn-primary {
    background-color:  #f44336 !important;
    color: #fff!important;
}
.btn-outline-primary{
    border: 2px solid #f44336!important;
    background-color: transparent!important;
    color: #f44336!important;
}
.btn-outline-primary:hover {
    border-color: #f44336!important;
    background-color: transparent!important;
    color: #f44336!important;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #f44336 !important;
}
 
/*end button area*/

/*start for: border*/

.border-primary{
    border-color: #f44336!important;
}

/*end for: border*/

/*start for star*/
.flag-size {
    width: 1.25em;
    height: 0.875em;
}

ul.icon-group {
    padding: 0px;
    list-style: none;
}
ul.icon-group li {
    display: inline;
}
.label, .img-thumbnail {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
}

.label-yellow {
    background-color: #f44336 !important;
    color: #fff !important;
}
.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 85%;
    font-weight: 600;
    padding: 0.3em 1.5em;
    text-shadow: none;
    border-radius: 0.125rem;
    letter-spacing: 0.05em;
}
.fa-star:before {
    /*content: "\f005";*/
}
.fa-star, .fa-star-half-o, .fa-star-o{
    color:#f44336 
}
/*end for star*/


/**************************************/
/******** start for scroll progress ********/
/**************************************/
@media (max-width: 991px) {
    .progress-read{
        top: 51px !important
    }
}
.navbar-expand-lg.scrolling-navbar{
    z-index: 999
}
.scrolling-navbar.top-nav-collapse{
    /*z-index: 9*/   
}
/**************************************/
/******** end for scroll progress ********/
/**************************************/

/**************************************/
/******** start for small menu ********/
/**************************************/

.stellarnav.sm-menu.fixed-top {
    position: fixed;
    top: 0;
    max-height: 3.8em;
    /*background-color: #d398e6;*/
    background-color:rgba(244, 67, 54, 0.6); 
    color: #fff;
    padding: 1.3em 0.5em;
}
img.sm-menu-logo {
    position: absolute;
    top: .8em;
    /*right: 0;*/
    left: 0;
    height: 2.5em;
}
.stellarnav.sm-menu.sm-menu-no-scroll{
    -webkit-transition: background .5s ease-in-out,height .5s ease-in-out;
    -o-transition: background .5s ease-in-out,height .5s ease-in-out;
    transition: background .5s ease-in-out,height .5s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    font-weight: 300;
    /*background-color: #d398e6;*/
    background-color:rgba(244, 67, 54, 0.6); 
    color: #fff;

    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;

    padding: 1.3em 0.5em;
    height: 3.8em;
}
.stellarnav.sm-menu.sm-menu-scroll{
    -webkit-transition: background .5s ease-in-out,height .5s ease-in-out;
    -o-transition: background .5s ease-in-out,height .5s ease-in-out;
    transition: background .5s ease-in-out,height .5s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    font-weight: 300;
    background-color: #f44336;
    color: #fff;

    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;

    /*    padding: 1.0em 0.5em;
        height: 3em;*/
    padding: 1.1em 0.5em;
    height: 3.4em;
}
.stellarnav .menu-toggle {
    padding: 0;
    box-sizing: border-box;
}
.stellarnav.light a {
    color: #fff;
}
.stellarnav.light .menu-toggle span.bars span {
    background: #fff;
}
a.call-btn-mobile.third ,a.location-btn-mobile.third{
    color: #000;
}


img.sm-menu-logo.sm-img-scroll{
    -webkit-transition: background .5s ease-in-out,top .5s ease-in-out;
    -o-transition: background .5s ease-in-out,top .5s ease-in-out;
    transition: background .5s ease-in-out,top .5s ease-in-out;
    position: absolute;
    top: .7em;
    left: 0;
    height: 2.2em;
}
img.sm-menu-logo.sm-img-no-scroll {
    -webkit-transition: background .5s ease-in-out,top .5s ease-in-out;
    -o-transition: background .5s ease-in-out,top .5s ease-in-out;
    transition: background .5s ease-in-out,top .5s ease-in-out;
    position: absolute;
    top: .8em;
    /*right: 0;*/
    left: 0;
    height: 2.5em;
}
.stellarnav a.close-menu.third {
    color: #000;
}
.stellarnav a.menu-toggle {
    float: right;
}
/*for home icon*/
.stellarnav ul{
    z-index: 9;
}
@media (min-width: 320px) {
    .stellarnav 
    .sm-menu-home-icon{
        text-align: center;
        position: relative;
        top: -7px;
        left: 45%;
        display: inline;
    } 
}
@media (min-width: 375px) {
    .stellarnav 
    .sm-menu-home-icon{
        text-align: center;
        position: relative;
        top: -7px;
        left: 46%;
        display: inline;
    } 
}
@media (min-width: 575px) {
    .stellarnav 
    .sm-menu-home-icon{
        text-align: center;
        position: relative;
        top: -7px;
        left: 47%;
        display: inline;
    } 
}

@media (min-width: 768px) {
    .stellarnav 
    .sm-menu-home-icon{
        text-align: center;
        position: relative;
        top: -6px;
        left: 48%;
        display: inline;
    } 
}
/*end*/


/**************************************/
/******** end for small menu ********/
/**************************************/


/**************************************/
/******** start container fixed ********/
/**************************************/
@media (min-width: 600px) {
    .container {
        max-width: 767px;
        /*background: #ddd*/
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1000px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1366px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}
@media (min-width: 1800px) {
    .container {
        max-width: 1650px;
    }
}
@media (min-width: 1900px) {
    .container {
        max-width: 1800px;
    }
}
@media (min-width: 2100px) {
    .container {
        max-width: 1920px;
    }
}


/**************************************/
/******** end container fixed ********/
/**************************************/


/**************************************/
/**************************************/
/**************************************/
.main-lg-sc-logo{
    max-height: 2em;
    width: auto;
    margin: -1.9em 0em;
}
.footer-logo {
    max-height: 3em;
    width: auto;
}

.footer-newsletter-main-area{
    position: relative;
}

/* Navbar animation */
.navbar {
    background-color:rgba(244, 67, 54, 0.8); 
    /*background-color: #d398e6;*/ 
}

.top-nav-collapse {
    background-color: #f44336; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #f44336; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #f44336; }

.slider-img{
    width: 100%;
    /*height: auto;*/
    height: 40em;
}

@media (min-width: 992px) {
    .mega-menu.dropdown-menu{
        min-width: 47em;
        /*display: block*/
    } 
    .stellarnav{
        display: none
    }
    /*fix drop-down hover*/
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .dropdown>.dropdown-toggle:active {
        /*     // Add this, to prevent clicking dropdown's default click function*/
        pointer-events: none;  
    }

    .lg-menu-nav.navbar-nav .nav-link {
        padding-right: 0.7em;
        padding-left: 0.7em;
    }
    .navbar .dropdown-menu {
        margin-top: 0;
        margin-left: 0.7em;
    }
    .navbar .dropdown-menu  .dropdown-item:hover{
        /*text-decoration: underline;*/
        background-color: #fff;
        color: #abafb3 !important;
    }
    .dropdown-menu{
        /*margin-top: 0.28em !important;*/
        min-width: 14em
    }
    /*    .lg-main-menu{
            display: block
        }*/

}
@media (min-width: 1200px) {
    /*    .mega-menu.dropdown-menu{
            min-width: 44em;
            display: block
        } */
    .container {
        /*max-width: 1300px;*/
    }
}
@media (min-width: 1300px) {
    .container {
        /*max-width: 1280px;*/
    }
}


/*........................................................*/
/*........................................................*/
/*......................  start header ............................*/
/*........................................................*/
/*........................................................*/
/*..... start stellarnav fixed*/
.stellarnav.mobile.right > ul {
    right: 0;
    z-index: 9999;
}

/*..... end stellarnav fixed*/
/*........................................................*/
/*........................................................*/
/*......................  end header ............................*/
/*........................................................*/
/*........................................................*/




/*........................................................*/
/*........................................................*/
/*......................footer............................*/
/*........................................................*/
/*........................................................*/


.footer-center-hr{
    background-color: #fff;
    width: 70%
}
.footer-newsletter-title::before {
    position: absolute;
    width: 0.0625em;
    top: 0.7em;
    left: 50%;
    background: #fff;
    content: "";
    -webkit-transition: -webkit-transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    height: 4em

}
.footer-newsletter-title{
    margin-top: 5em
}
.footer-newsletter-area{
    /*position: relative*/
}
.footer-newsletter-input {
    width: 12em
}
.footer-newsletter-input:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
    border-bottom: 1px solid #fff !important;
}
.footer-newsletter-input::placeholder {
    color: #fff !important
}
.footer-newsletter-input::-webkit-input-placeholder {
    color: #fff;
}
.footer-newsletter-input:-ms-input-placeholder {
    color: #fff !important
}
.footer-newsletter-input::-ms-input-placeholder {
    color: #fff !important
}
.footer-newsletter-btn{
    width: 15em;
    background: transparent !important;
    padding-left: .7em;
    padding-right: .7em;
}
/*start for footer icon*/

.footer-icon i{
    width: 1.875em;
    height: 1.875em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.875em;
}
.i-facebook{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-facebook:hover{
    /*border: 0.0625em solid #3b5998;*/
    background-color: #3b5998;
    color:#fff;
}

.i-twitter{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-twitter:hover{
    /*border: 0.0625em solid #1da1f3;*/
    background-color: #1da1f3;
    color:#fff;
}

.i-youtube{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-youtube:hover{
    /*border: 0.0625em solid #da2723;*/
    background-color: #da2723;
    color:#fff;
}


.i-g-plus{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-g-plus:hover{
    /*border: 0.0625em solid #da2723;*/
    background-color: #da2723;
    color:#fff;
}

.i-behance{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-behance:hover{
    /*border: 0.0625em solid #0071b9;*/
    background-color: #0071b9;
    color:#fff;
}

.i-pinterest{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-pinterest:hover{
    /*border: 0.0625em solid #9f1121;*/
    background-color: #9f1121;
    color:#fff;
}

.i-instagram{
    /*border: 1px solid #3b5998;*/
    transition: all .3s ease-in-out;
}
.i-instagram:hover{
    /*border: 0.0625em solid #c43062;*/
    background-color: #c43062;
    color:#fff;
}

/* end for footer icon*/

/**************************************/
/******** start hover link underline animate ********/
/**************************************/
.u-hover-link {
    position: relative;
    text-decoration: none;
}

.u-hover-link:hover {
    /*  color: red;*/
}

.u-hover-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: .2em;
    bottom: -0.5em;
    left: 0;
    /*  background-color: #000;*/
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.u-hover-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.u-hover-link:before {
    background-color: #fff;
}

/*for main menu dropdown*/
.navbar .dropdown-menu.drop-single a {
    /*padding: 15px;*/
    padding: 1em .8em;
    font-size: .9375rem;
    font-weight: 300;
    color: #000!important;
}
/*.navbar .mega-menu.dropdown-menu a {
    padding: 15px !important;
    padding: .8em;
    font-size: .9375rem;
    font-weight: 300;
    color: #000!important;
}*/
.dropdown .u-hover-link:before {
    height: 0.125em;
    bottom:  -0.125em;
}
.dropdown .u-hover-link:before {
    height: 0.3125em !important;
}
.dropdown .u-hover-link:before {
    background-color: #f44336  !important;
}

/* end hover link underline animate*/



/**************************************/
/********start for page pre-loader*********/
/**************************************/
#loading{
    background-color: #f44336;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0px;
    top: 0px;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 9.375em;
    width: 9.375em;
    margin-top: -4.6875em;
    margin-left: -4.6875em;	
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 

}
.object{
    width: 1.25em;
    height: 1.25em;
    background-color:#FFF;
    position: absolute;
    left: 4.0625em;
    top: 4.0625em;
}
.object:nth-child(2n+0) {
    margin-right: 0px;

}


#object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    -webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
}
#object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    -webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s; 
}
#object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    -webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
}
#object_four {
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}
#object_five {
    -webkit-animation: object_five 2s infinite;
    animation: object_five 2s infinite;
    -webkit-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
}
#object_six {
    -webkit-animation: object_six 2s infinite;
    animation: object_six 2s infinite;
    -webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s; 
}
#object_seven {
    -webkit-animation: object_seven 2s infinite;
    animation: object_seven 2s infinite;
    -webkit-animation-delay: 0.8s; 
    animation-delay: 0.8s; 
}
#object_eight {
    -webkit-animation: object_eight 2s infinite;
    animation: object_eight 2s infinite;
    -webkit-animation-delay: 0.9s; 
    animation-delay: 0.9s; 
}

#object_big{

    position: absolute;
    width: 3.125em;
    height: 3.125em;
    left: 3.125em;
    top: 3.125em;
    -webkit-animation: object_big 2s infinite;
    animation: object_big 2s infinite;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}	




@-webkit-keyframes object_big {
    50% { -webkit-transform: scale(0.5); }

}

@keyframes object_big {
    50% { 
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    } 

}




@-webkit-keyframes object_one {
    50% { -webkit-transform: translate(-65px,-65px)  ; }

}

@keyframes object_one {
    50% { 
        transform: translate(-65px,-65px) ;
        -webkit-transform: translate(-65px,-65px) ;
    } 

}



@-webkit-keyframes object_two {
    50% { -webkit-transform: translate(0,-65px) ; }
}

@keyframes object_two {
    50% { 
        transform: translate(0,-65px) ; 
        -webkit-transform: translate(0,-65px) ; 
    } 

}



@-webkit-keyframes object_three {
    50% { -webkit-transform: translate(65px,-65px) ; }
}

@keyframes object_three {
    50% { 
        transform: translate(65px,-65px) ;
        -webkit-transform: translate(65px,-65px) ;
    } 
}



@-webkit-keyframes object_four {

    50% { -webkit-transform: translate(65px,0) ; }

}

@keyframes object_four {
    50% { 
        transform: translate(65px,0) ;
        -webkit-transform: translate(65px,0) ;
    } 

}




@-webkit-keyframes object_five {

    50% { -webkit-transform: translate(65px,65px) ; }

}

@keyframes object_five {
    50% { 
        transform: translate(65px,65px) ;
        -webkit-transform: translate(65px,65px) ;
    } 

}



@-webkit-keyframes object_six {

    50% { -webkit-transform: translate(0,65px) ; }

}

@keyframes object_six {
    50% { 
        transform:  translate(0,65px) ;
        -webkit-transform:  translate(0,65px) ;
    } 

}




@-webkit-keyframes object_seven {

    50% { -webkit-transform: translate(-65px,65px) ; }

}

@keyframes object_seven {
    50% { 
        transform: translate(-65px,65px) ;
        -webkit-transform: translate(-65px,65px) ;
    } 

}


@-webkit-keyframes object_eight {

    50% { -webkit-transform: translate(-65px,0) ; }

}

@keyframes object_eight {
    50% { 
        transform: translate(-65px,0) ;
        -webkit-transform: translate(-65px,0) ;
    } 

}



/*end for page pre-loader*/


/**************************************/
/******** start for Round Floating Button  *********/
/**************************************/
.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}
.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 2.9375em;
    height: 2.9375em;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 0.625em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.rounded-circle {
    border-radius: 50%!important;
}
.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}
.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 50px;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.btn-fb {
    background-color: #3b5998!important;
    color: #fff!important;
}
.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.btn-dribbble {
    background-color: #ec4a89!important;
    color: #fff!important;
}
.btn-tw {
    background-color: #55acee!important;
    color: #fff!important;
}
.btn-email {
    background-color: #4b515d!important;
    color: #fff!important;
}
.btn-git {
    background-color: #333!important;
    color: #fff!important;
}
.btn-li {
    background-color: #0082ca!important;
    color: #fff!important;
}
.btn-pin {
    background-color: #c61118!important;
    color: #fff!important;
} 
.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}


/* end for Round Floating Button*/





/*...... start team section  ....*/
section.team-section .avatar img.rounded-circle {
    max-width: 150px;
}

/*...... end team section   ....*/



/**************************************/
/******** start pricing area   *********/
/**************************************/
.pricing-card .price .number:before {
    content: "$";
    position: absolute;
    font-size: 1.88rem;
    margin-left: -1.2rem;
    margin-top: .7rem;
}
.pricing-card .price .number:after {
    content: "/mo";
    position: absolute;
    font-size: 1.88rem;
    margin-top: 3rem;
}
.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
.pricing-card {
    text-align: center;
}
.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.pricing-card .price {
    position: relative;
    padding-top: 3.94rem;
}
.pricing-card .price .number {
    font-size: 5rem;
    padding: 1.5rem;
    font-weight: 300;
}
.pricing-card .striped {
    padding: 1rem;
}
.pricing-card .striped li {
    border-bottom: 1px solid rgba(238,238,238,.298039);
    margin-bottom: 1rem;
}
.card.card-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}

.pricing-package-area .btn{
    margin: 0
}

/*end pricing area*/
.navy-line {
    width: 5em;
    height: 0.0625em;
    /*margin: 3.75em auto 0; */
    margin: 0em auto;
    /*border-bottom: 3px solid #f44336;*/
    border-bottom: 0.25em  solid #f44336;
}


/**************************************/
/******** start pricing table bg   *********/
/**************************************/
.pricing-table-bg{
    background-image: url('../img/pricing-table%20(8).jpg');
}
/* style="background-image: url('img/pricing-table%20(8).jpg');"
/* end pricing table bg */

.page-footer .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #f44336;
    box-shadow: 0 1px 0 0 #f44336;
    border-bottom: 1px solid #f44336;
}


/**************************************/
/******** end   *********/
/**************************************/


/**************************************/
/******** start for accordion *********/
/**************************************/
.accordion a:hover {
    color: #000;

}
.accordion dd {
    margin-bottom: 0rem !important;
}
.heading-primary {
    padding: 2em;
}

.accordion dl,
.accordion-list {
}

.accordion dd,
.accordion__panel {
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}



.accordion p {
    padding: 1em 2em 1em 2em;
}
.accordion {
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}



.accordionTitle,
.accordion__Heading {
    padding: 1em 2em;
    display: block;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    font-size: .9em;

}
.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    float: right;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
    /*background-color: #d398e6*/
    /*color:red*/
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    /*background-color:   #b85bd7*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    transition: max-height 1s;
}


.accordionItem.is-collapsed {
    max-height: 0;
}

/*.no-js .accordionItem.is-collapsed {*/
/*.accordionItem.is-collapsed {
    max-height: auto;
}*/

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}


/**************************************/
/******** end for accordion *********/
/**************************************/


/**************************************/
/******** start for Stylish Checkbox *********/
/**************************************/

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.form-check-input[type=checkbox]+label, label.btn input[type=checkbox]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-check-label {
    margin-bottom: 0;
}
.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #8a8a8a;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #8a8a8a;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 1.375rem;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


/**************************************/
/******** end for Stylish Checkbox *********/
/**************************************/

/**************************************/
/******** Start Radio Buttons bg for cart page *********/
/**************************************/
.radio-bg-red::before {
    background-color: red;
}
.radio-bg-green::before {
    background-color: green;
}
.radio-bg-pink::before {
    background-color: pink;
}
.radio-bg-black::before {
    background-color: black;
}
.radio-bg-blue::before {
    background-color: blue;
}
.radio-bg-blue-v::before {
    background-color: blueviolet;
}
.radio-bg-brown::before {
    background-color: brown;
}
.radio-bg-white::before {
    background-color: white;
    border:1px solid #ddd
}

/**************************************/
/******** end Radio Buttons bg for cart page *********/
/**************************************/

/*start for menu cart icon*/
.cart-menu-icon{
    padding: .2em 1em !important;
}
span.cart-menu-count {
    top: .1em;
    position: absolute;
    background: #ff8800;
    color: #fff;
    border-radius: 300em;
    padding: 0.2em;
    height: 1.8em;
    width: 1.8em;
    text-align: center;
    margin-left: 3em;
    font-size: 0.9rem
}
/*end for menu cart icon*/





/*=======================================*/
/*=======================================*/
/*=======================================*/
/*=======================================*/
/*=======================================*/
/*=======================================*/





/*.header-search {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.header-search:focus {
  width: 100%;
}
*/


/*start for cart icon on small device*/


.sm-cart-show{
    position: fixed;
    bottom: 0;
    left: 5%;
    z-index: 9999;
    background: transparent;
}
.sm-cart-show i{
    color: #f44336;
}
/*end for cart icon on small device*/


/*=============================================*/
/*========== start search-result page ==========*/
/*==============================================*/
/*start for : searchbox*/
.searchInputBox:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #ff8800 !important;
    box-shadow: 0 1px 0 0 #ff8800 !important;
    border-bottom: 2px solid #ff8800 !important;
}
/*end for : searchbox*/

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}


.search-result .md-form .search-box{
    font-size: .9rem ;
    height: 2em ;
}



.search-result .search-box:focus:not([readonly]){
    -webkit-box-shadow: 0 1px 0 0 #f44336 !important;
    box-shadow: 0 0px 0 0 #f44336 !important;;
    border-bottom: 1px solid #f44336 !important;;
}

.search-result .md-form .btn{
    border-width: 1px !important;;
}
@media only screen and (max-width: 767px) {
    .search-result .md-form .btn{
        padding-left: 1.14rem;
        padding-right: 1.14rem;
    }
}



/*=============================================*/
/*========== end search-result page ==========*/
/*==============================================*/


/*start for: tags design*/


.tags{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;
}	
.tags li, .tags a{
    float:left;
    height:26px;
    line-height:24px;
    position:relative;
    font-size:14px;

}	
.tags a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#33b5e5;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;	
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;	
    border-top-right-radius:4px;	

}	
.tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #33b5e5 transparent transparent;
    border-style:solid;
    border-width:12px 12px 14px 0;		
}	
.tags a:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}		

.tags a:hover{background:#555;}	
.tags a:hover:before{border-color:transparent #555 transparent transparent;}


/*end for: tags design*/

/* - Internet Explorer 11
   - Internet Explorer Mobile 11 */
.footer-newsletter-input:-ms-input-placeholder {
    color: #FFFEEA !important;
}
.footer-newsletter-input:focus:-ms-input-placeholder {
    color: #FFFEEA !important; /* IE11 needs the !important flag */
}


/*.img-ie{display: none}*/
@media all and (-ms-high-contrast:none){
    *::-ms-backdrop, .imgsvg-container .flag-size {
        width: auto !important;
        /*max-width: 50% !important;*/
        max-width: 1.25em !important;
        height: auto !important;
        display: inline-block  !important;
    }  

    *::-ms-backdrop, .imgsvg-container {
        display: inline-block !important;
        vertical-align: top !important;
        float: none !important;
    } 

}

/*.......................*/
/* start dropdown*/
/*.dropdown a{display: block}*/
.dropdown-submenu {
    position: relative;
    list-style: none
}

.dropdown-submenu>.dropdown-menu {
    list-style: none;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
@media (min-width: 1800px) {
    .dropdown-submenu>.dropdown-menu {
        margin-left: -1.5px;
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu .dropdown-menu{
    border-radius: 0 6px 6px 0px
}
.dropdown-submenu ul.dropdown-menu{
    margin-top: -1px;
    padding-top: 0;
}

.dropdown-submenu>a:after {
    /*    display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: 0;*/
}

.dropdown-submenu:hover>a:after {
    /*border-left-color: #fff;*/
}
.dropdown-menu.multi-level  a{
    display: block;
    padding: .8em 0.7em;
}
.dropdown-menu.multi-level  .dropdown-submenu i{
    font-size: 1.33333333em;
}
.dropdown-submenu .dropdown-toggle::after{
    float: right;
    transform: rotate(-90deg);
    margin-top: 8px;
}

.dropdown-submenu:hover>.dropdown-toggle::after{
    display: none
}

/*end dropdown*/

/*start  google maps*/
.map-container-3{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*end  google maps*/


.modal {
    position: fixed;
    top:  20%;
    right: 0;
    /*bottom: 50%;*/
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
    /*margin: auto 0;*/
}
